
@font-face{
    font-family: 'Nanum Myeongjo';
     font-style: normal;
  font-weight: 300;
  src: url(../font/NanumMyeongjo-Regular.eot);
  src: local('Nanum Myeongjo Regular'),
       local('NanumMyeongjo-Regular'),
       url(../font/NanumMyeongjo-Regular.eot?#iefix) format('embedded-opentype'),
       url(../font/NanumMyeongjo-Regular.woff) format('woff'),
       url(../font/NanumMyeongjo-Regular.ttf) format('truetype');
    
}

*{
    margin:0; padding:0;
}

html,body {
    width:100%;
    height:100%;
    background-color:#ccc;
    overflow-x: hidden;
    
}
img {
    width:100%;
}
li{
    list-style:none;
}
a{
    text-decoration:none;
    display:block;
    color:#111;
}

.wrap {
    width:100%;
    
}




/*pc*/



header {
    font-family: 'Nanum Myeongjo';
    width:100%;
    height:9vh;
    display:flex;
    justify-content: space-between;
    position:relative;
    float:left;
}
header .logo {
    width:8vw;
    margin:1.5%;
}
header .mobile_menu {
        display:none;
}
header nav {
    display:block;
    width:50%;
    z-index: 10;
}


header nav .close_btn{
    display:none;
}
header nav > ul {
    padding-top:3%;
     display:flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
header nav > ul > li {
    width:35%;
    padding:0 2%;
}
header nav > ul > li >a {
    font-size:1vw;
    padding-top:5%;
    text-align: center;
    
}

header nav > ul > li >a:hover {    
    text-decoration:none;
    font-weight: bold;
    color:#555;
    
} 
/*서브메뉴*/


header nav .sub {
    
    display:none;
    text-align: center;
    padding:5%;
    
}

header nav .sub li a {
    text-decoration: none;
    text-align:center;
    font-size:0.8vw;
    padding:7%;
}

header nav .sub li a:hover {
    font-weight: bold;
    color:#555;
}
header nav .sub li:first-child a {
    margin-top:13%;
}
/*서브메뉴배경*/
.sub_bg {
    display:none;
    width:100%;
    height:17vh;
    position:absolute;
    z-index:5;
    top:9vh;
    background-color:#fff;
    opacity:0.5;

}

header .topmenu {
    width:8%;
}
header .topmenu ul {
    padding-top:20%;
    padding-right:30%;
    width:100%;
    display:flex;
    justify-content: space-between;
}
header .topmenu ul li {
    font-size:0.8vw;
}

header .topmenu ul li a:hover {
    text-decoration:none;
    font-weight: bold;
    color:#555;
}

section {
    font-family: 'Nanum Myeongjo';
    float:left;
}
section.visual {
    width:100%;
    float:left;
    z-index:1;
    margin-bottom:3%;
    
}
section.visual div .v1 {
    position:relative;
}
section.visual div .v1 .txt {
    bottom:10%;
    left:10%;
    position:absolute;
    z-index: 3;
}
section.visual div .v1 .txt p {
    color:#403335;
}
section.visual div .v1 .txt .big {
    font-size:7.5vw;
    margin-bottom: -10%;
}
section.visual div .v1 .txt .txt_logo {
    font-size:5vw;
    line-height: 5vw;
}

section.visual div .v1 .txt .new {
    font-size:3vw;
    color:#6c3a42;
}

section.visual div .v1 .skincare {
    position:absolute;
    bottom:10%;
    right:10%;
    width:23vw;
}
section.visual div .v2 {
    position:relative;
}
section.visual div .v2 .txt {
    position:absolute;
    z-index: 3;
    bottom:23%;
    left:20%; 
}
section.visual div  .v2 .txt .title {
    font-size:4vw;
    margin-bottom:20%;
}

section.visual div  .v2 .txt .t1 {
    font-size:1.2vw;
}
section.visual div  .v2 .txt .t1 .none {
    display:block;
}
section.visual div  .v2 .txt .t1 span {
    font-weight:bold;
}

section.view {
    width:100%;
    margin-bottom:3%;
}
section.view .v_wrap {
    width:60%;
    margin:0 auto;
}
section.view .row .more{
    display:none;
}

section.view .row p{
    text-align: center;
    margin-top:5%;
    font-size:1.5vw;
}
section.banner1 {
    width:100%;
    margin-bottom:3%;
}
section.banner1 .b_wrap {
    width:65%;
     margin:0 auto;
}

section.banner1 .row p {
    top:100%;
    background-color:rgba(0,0,0,0.5);
    position:absolute;
    width:100%;
    height:100%;
    color:#fff;
    text-align: center;
    font-size:1.2vw;
    padding-top:24vh;
    margin:0;
    transition:all 0.5s;
}
section.banner1 .row div {
    width:40vw;
    height:55vh;    
    position:relative;
    overflow:hidden;
    
}

section.banner1 .row div a{
    width: 100%;
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
    position: absolute;
}
section.banner1 .row div:hover p{
    top:0;
    
    /* display:block 은 사용이 같이 되지않는다.*/
}
section.banner1 .row div .a1{
    height:100%;
    background-image: url(../img/banner1.jpg);

}section.banner1 .row div .a2{
    height:100%;
    background-image: url(../img/banner2.jpg);

}
section.banner1 .row div .a3{
    height:100%;
    background-image: url(../img/banner3.jpg);

}

section.culture {
    width:100%;
    height:95vh;
    margin-bottom:3%;
    
}
section.culture a{
    width:100%;
    height:100%;
    background-image:url(../img/collabo_.png);
    background-size:cover;
}

section.culture .more {
        display:none;
}

section.consumer  {
    width:100%;
    margin-bottom:3%;
}
section.consumer .title {
    width:10vw;
    font-weight:bold;
    font-size:1.3vw;
    padding-bottom:3%;
    margin:0 auto;
}
section.consumer ul {
    width:70%;
    height: 35vh;
    display:flex;
    justify-content: space-between;
    margin:0 auto;
}
section.consumer ul li {
    width:25%;
}
footer {
    width:100%;
    background-color:#c0b5ab;
    float:left;
}
footer .f_wrap {
    width:100%;
    padding:5%;
}
footer .f_wrap .f_logo {
    width:10vw;
}

footer .f_wrap .f1 {
    display:flex;
}
footer .f_wrap .f1 .row {
    margin-left:10%;
    width:60%;
}
footer .f_wrap .f1 .row div {
    text-align: center;
}
footer .f_wrap .f1 .row div a {
    text-decoration: none;
    color:#111;
}
footer .f_wrap .f1 .row div ul {
    margin-top:10%;
}
footer .f_wrap .f1 .row address {
    margin-top:5%;
}







/*모바일-mobile*/






@media screen and (max-width:480px){
    
    
/*header*/
    
    
header {
    font-family: 'Nanum Myeongjo';
    width:100%;
    height:7.5vh;
    display:flex;
    justify-content: space-between;
    position:relative;
    float:left;
}
header .logo {
    width:28vw;
    margin:3%;
}
header .mobile_menu {
    display:block;
    width:8vw;
    margin:3%;
}

header nav {
    display: block;
    width:70%;
    z-index: 100;
    height:100vh;
    margin:0;
    position:absolute;
    top:0;
    right:-100%;
    background-color:rgba(255,255,255,1);
}
    
header nav .close_btn {
        
        position:absolute;
        display:block;
        width:7vw;
        right:5%;
        top:2%;
        
    }
header nav > ul {
    /*padding-top:3%;*/
    display:flex;
    flex-flow:column wrap;
    justify-content: space-between;
    margin:60px 20px;
}
header nav > ul > li {
    width:35%;
    padding:0 2%;
}
header nav > ul > li >a {
    font-size:5vw;
    padding-top:5%;
    padding:0 5%;
    padding-bottom:5%;
    text-align: left;
    white-space: nowrap;
    
}

header nav > ul > li >a:hover {    
    text-decoration:none;
    font-weight: bold;
    color:#000;
    
} 
    
    
/*서브메뉴*/
    
    
header nav .sub {
    
    display:none;
    text-align: center;
    padding:5%;
    
}

header nav .sub li a {
    
    text-align:center;
    font-size:4vw;
    padding:7%;
    white-space: nowrap;
}
header nav .sub li:first-child a {
    margin-top:13%;
}
/*서브메뉴배경*/
.sub_bg {
    display:none;
    width:100%;
    height:17vh;
    position:absolute;
    z-index:5;
    top:9vh;
    background-color:#fff;
    opacity: 0.5;

}

header .topmenu {
    display:none;
    width:8%;
}
header .topmenu ul {
    padding-top:20%;
    padding-right:30%;
    width:100%;
    display:flex;
    justify-content: space-between;
}
header .topmenu ul li {
    font-size:0.8vw;
}

header .topmenu ul li a:hover {
    text-decoration:none;
    font-weight: bold;
    color:#555;
}

section {
    font-family: 'Nanum Myeongjo';
    float:left;
}
section.visual {
    width:100%;
    float:left;
    z-index:1;
    margin-bottom:5%;
    
}
section.visual div .v1 {
    position:relative;
}
section.visual div .v1 .txt {
    bottom:13%;
    left:13%;
    position:absolute;
    z-index: 3;
}
section.visual div .v1 .txt p {
    color:#403335;
}
section.visual div .v1 .txt .big {
    font-size:7.5vw;
    margin-bottom: -10%;
}
section.visual div .v1 .txt .txt_logo {
    font-size:5vw;
    line-height: 5vw;
    margin-bottom: -5%;
}

section.visual div .v1 .txt .new {
    font-size:3vw;
    color:#6c3a42;
    margin-bottom:-5%;
   
}

section.visual div .v1 .skincare {
    position:absolute;
    bottom:6%;
    right:10%;
    width:23vw;
}

section.visual div .v2 {
    position:relative;
}
section.visual div .v2 .txt {
    position:absolute;
    z-index: 3;
    bottom:25%;
    left:18%; 
}
section.visual div  .v2 .txt .title {
    width:50vw;
    font-size:4vw;
    margin-bottom:5%;
}

section.visual div  .v2 .txt .t1 {
    font-size:2vw;
}
section.visual div  .v2 .txt .t1 span {
    font-weight:bold;
}

section.visual div  .v2 .txt .t1 .none {
    display:none
}
section.view {
    
    width:100%;
    margin-bottom:3%;
}
section.view .v_wrap {
    width:60%;
    margin:0 auto;
}

section.view .row p{
    text-align: center;
    margin-top:5%;
    font-size:6vw;
}
section.view .row div:last-child {
    margin-top:5%;
}
    
section.view .row .more {
    display:block;
    width:100%;
    margin:0 auto;
    height:5vh;
    font-weight: bold;
    font-size:3.5vw;
    border:1px solid #555;
    color:#333;
    background-color:#fff;
}
section.banner1 {
    width:100%;
    margin-bottom:3%;
}
section.banner1 .b_wrap {
    width:65%;
     margin:0 auto;
}

section.banner1 .row p {
    top:0;
    background-color:rgba(0,0,0,0.3);
    position:absolute;
    width:100%;
    height:100%;
    color:#fff;
    text-align: center;
    font-size:6vw;
    font-weight: bold;
    padding-top:24vh;
    margin:0;
}
    
section.banner1 .row div {
    width:100%; 
    position:relative;
    overflow:hidden;
    margin-bottom:5%;
    
}


section.banner1 .row div a{
    width: 100%;
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
    position: absolute;
}
    
/* display:block 은 사용이 같이 되지않는다. */
    
/*section.banner1 .row div:hover p{
    top:0; 
}*/
    
section.banner1 .row div .a1{
    height:100%;
    background-image: url(../img/banner1.jpg);
    

}section.banner1 .row div .a2{
    height:100%;
    background-image: url(../img/banner2.jpg);

}
section.banner1 .row div .a3{
    height:100%;
    background-image: url(../img/banner3.jpg);

}

section.culture {
    width:100%;
    height:22vh;
    
}
section.culture a{
    width:100%;
    background-image:url(../img/collabo_.png);
    background-size:cover;

}
section.culture .more {
    display:block;
    width:90%;
    margin:0 auto;
    height:5vh;
    font-weight: bold;
    font-size:3.5vw;
    border:1px solid #555;
    color:#333;
    margin-top:5%;
    background-color:#fff;
    
}

section.consumer  {
    width:100%;
    margin-top:15%;
    margin-bottom:10%;
}
section.consumer .title {
    width:40vw;
    font-weight:bold;
    font-size:4vw;
    padding-bottom:10%;
    margin:0 auto;
}
section.consumer ul {
    width:90%;
    height: 30%;
    display:flex;
    justify-content: space-between;
    margin:0 auto;
}
section.consumer ul li {
    width:30%;
}
footer {
    width:100%;
    background-color:#c0b5ab;
    float:left;
}
footer .f_wrap {
    width:100%;
    padding:5%;
}
footer .f_wrap .f_logo {
    width:30vw;
    margin-top:20%;
}

footer .f_wrap .f1 {
    display:flex;
}
footer .f_wrap .f1 .row {
    margin-left:10%;
    width:60%;
}
footer .f_wrap .f1 .row div {
    text-align: center;
    display:none;
}
footer .f_wrap .f1 .row div a {
    text-decoration: none;
    color:#111;
}
footer .f_wrap .f1 .row div ul {
    margin-top:10%;
}
footer .f_wrap .f1 .row address {
    font-size:3vw;
    margin-top:5%;
    
}

}























